

.main_container{

}

.main_container h3{
  font-size: 24px;
  font-weight: bold;
}
.main_container .line{
  width: 50px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main_container p{
  font-size: 17px;
  line-height: 1.35;
  word-break: keep-all;
}

.main_container h4{
  font-size: 18px;
  margin-top: 40px;
  font-weight: bold;
  color: rgb(19, 0, 126);
}

.main_container .line_half{
  width: 30px;
  height: 3px;
  background-color:rgb(19, 0, 126);
  border-radius: 5px;
  margin-top: 10px;
}

.support_pc{
  width: 90%;
}
.support_mobile{
  display: none;
}

@media screen and (max-width: 600px){
  .main_container h3{
    font-size: 18px;
  }
  .main_container .line{
    height: 2px;
  }
  .main_container p{
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
    word-break: keep-all;
  }
  .main_container h4{
    font-size: 17px;
  }
  .main_container .line_half{
    height: 2px;
  }
  .support_pc{
    width: 100%
  }
}